{{#each this}}
  <li class="movie-card" data-card="{{id}}">
    <div>
      <div>
        <!--        <img class="movie-img" data-card="{{id}}" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}}" alt="{{original_title}}" width="274" height="398">-->
        <img class="movie-img" src="{{urlImage}}" alt="{{originTitleModal}}" width="274" height="398">
      </div>
      <div>
        <h2 class="movie-title">{{title}}</h2>
        <p class="card-genre-date">
          {{genre}} | {{rating}}
        </p>
        <!--        <p>{{popularity}}</p>-->
      </div>
    </div>
  </li>
{{/each}}