<div>
  {{#if poster_path}}
    <img class="movie__img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}}"
         alt="{{original_title}}">
  {{/if}}
</div>
<div class="movie__details">
  <h1 class="movie__name">{{title}}</h1>
  <ul>
    <li class="movie__details-item movie-vote">
      <span class="movie__details-name">Vote / Votes</span><span><span>{{vote_average}}</span><span>{{vote_count}}</span></span></li>
    <li class="movie__details-item movie-popularity"><span class="movie__details-name">Popularity </span><span>{{popularity}}</span></li>
    <li class="movie__details-item movie-title"><span class="movie__details-name">Original Title </span><span>{{original_title}}</span></li>
    <li class="movie__details-item movie-genre"><span class="movie__details-name">Genre </span></li>
  </ul>
  <h2 class="movie__review-title">About</h2>
  <p class="movie__review movie-description">{{overview}}</p>
  <div class="movie__btn-wrapper">
    <button type="button" class="movie__btn-watched js-watched">add to Watched</button>
    <button type="button" class="movie__btn-queue js-queue">add to queue</button>
  </div>
  <p id="js-id" data-card="{{id}}" class="is-hidden">{{id}}</p>
</div>
</div>